<div id='user-details-holder'>
  <%= bootstrap_form_for @user, layout: :horizontal,  remote: true do |f| %>
    <%= hidden_field_tag :replace_with, params[:replace_with] %>
    <div class="card-body">


        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
    </div>

    <div class="offset-sm-4 col-sm-10">
      <button type="submit" class="btn btn-info">Update</button>
      <%= link_to "Cancel", user_path(@user, replace_with: params[:replace_with]),  class: "btn btn-danger" %>
    </div>
   <% end %>

</div>


